<h1 style="font-weight: bold; font-family: 'Courier New', Courier, monospace;">Welcome to TODO App</h1>
<a href="/add" class="text-center"><button class="btn btn-primary m-1">
    <i class="fa fa-plus"></i>
    Add TODO
</button></a>
<a href="/info" class="text-center"><button class="btn btn-dark m-1">
    <i class="fa fa-eye" aria-hidden="true"></i>
    View TODOs
</button></a>